extends baseEmail
block content
  p Hi #{firstName},
    p Forgot your password?
    p  No problem, let us get you a new one.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset my password
    p P.S. If you did not make this request, you may safely ignore it.